
#buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0);

    cursor: default;
}

#buttons ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#buttons ul li {
    float: left;
}

#notify, #confirm {
    position: absolute;
    left: 35%;
    top: 45%;
    display: none;
    pointer-events: auto;
}

#exclamation, #question {
    left: 10%;
    top: 30%;
}

.done {
    position: absolute;
    left: 85%;
    top: 70%;
}

#cancel {
    position: absolute;
    left: 70%;
    top: 70%;
}

#inventory {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 20px;
    bottom: 10%;
    display: none;

    cursor: default;
}

#inventory ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#inventory ul li {
    float: left;
}

.itemSlot {
    background-color: rgba(0, 0, 0, 0.5);
}

.itemCount, .inventoryItemCount {
    font-family: 'AdvoCut', sans-serif;
    color: rgba(255, 255, 255, 1);
}

#actionContainer {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    display: none;
    left: 20%;
    top: 83%;
    cursor: hand;
}

#pActions {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    display: none;
}

.actionButton {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'AdvoCut', sans-serif;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    color: #c6c0a3;
    cursor: pointer;
}

.actionButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.actionButton:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fcda5c;
    cursor: pointer;
}

#dropDialog {
    font-family: 'AdvoCut', sans-serif;
    font-size: 16px;
    color: #e3e3e3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-right: -28px;
    padding: 5px;
    background: rgba(45, 45, 45, 0.8);
    border-radius: 6px 6px 6px 6px;
    display: none;
}

#dropCount {
    font-family: 'AdvoCut', sans-serif;
}

#dropDialog.active {
    display: block;
}

#dropTitle {
    text-align: center;
    margin-bottom: 10px;
}

#dropAccept, #dropCancel {
    background: rgba(120, 120, 120, 0.3);
    cursor: pointer;

    font-size: 18px;
}

#dropAccept:hover, #dropCancel:hover {
    background: rgba(120, 120, 120, 0.4);
}

#dropAccept:active, #dropCancel:active {
    background: rgba(120, 120, 120, 0.4);
    color: #fcda5c;
}

#profileDialog, #settingsPage {
    bottom: 15px;

    display: none;
    position: absolute;
    -ms-user-select: none;
        user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    cursor: default;
}

#navigator {
    position: absolute;
    top: 89%;
    left: 37%;
}

#sliders {
    position: absolute;
    float: right;
    right: 10%;
    top: 15%;
}

#texts {
    font-family: 'AdvoCut', sans-serif;
    position: absolute;
    float: left;
    left: 10%;
    top: 15%;
}

#info {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 78%;
    text-align: center;
}

#checkMarks {
    position: absolute;
    float: right;
    right: 10%;
    top: 41%;
}

#volume, #sfx, #brightness {
    position: absolute;
}

#soundCheck, #cameraCheck, #debugCheck, #centreCheck, #nameCheck, #levelCheck {
    left: 50%;
}

#attackInfo {
    display: none;
    position: absolute;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5);
}

#attackInfo .name, #attackInfo .health {
    position: absolute;
    text-align: center;
    font-family: 'AdvoCut', sans-serif;
    color: white;
}

#attackInfo .name {
    width: 100%;
    overflow: hidden;
}

#attackInfo .details {
    overflow: hidden;
    text-align: center;
    font-family: 'AdvoCut', sans-serif;
    color: white;
    width: 100%;
}

#attackInfo .health {
    width: 90%;
    left: 5%;
    overflow: hidden;
}

#bank {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;

    cursor: default;
}

#bankContainer {
    float: right;
}

#bankInventoryContainer, #enchantContainer {
    float: left;
}

#bankSlots {
    position: absolute;
    top: 9%;
}

.inventorySlots {
    position: absolute;
    top: 13%;
    left: 6%;
}

#shopInventorySlots {
    left: 14%;
}

#enchantInventorySlots {
    left: 13%;
}

.bankSlot {
    float: left;
}

.bankImage {
    width: 100%;
    height: 100%;
}

#enchant {
    position: absolute;
    display: none;

    cursor: default;

    top: 50%;
    left: 50%;
}

#trade {
    position: absolute;
    display: none;
    top: 10%;
    left: 20%;
}

#tradePlayerContainer, #tradeOPlayerContainer {
    position: relative;
    float: left;
    top: 24%;
}

#tradePlayerContainer {
    left: 5%;
}

#tradeOPlayerContainer {
    left: 12.5%;
}

#enchantSelectedItem, #enchantShards {
    position: absolute;
    top: 80%;
}

#enchantSelectedItem {
    left: 11%;
}

#enchantShards {
    left: 34%;
}

.close {
    position: absolute;
    left: 92%;
    top: -3%;
}

.ok {
    position: absolute;
}

#message {
    position: absolute;
    font-family: 'AdvoCut', sans-serif;
    left: 42%;
    top: 48%;
    pointer-events: none;
}

.fade {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
}

#shardsCount {
    position: absolute;
    font-family: 'AdvoCut', sans-serif;
    top: 120%;
    text-align: center;
}

.skillSlot {
    position: relative;
    float: left;
}

#questList {
    position: absolute;
    top: 50%;
    left: 8%;

    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#achievementList {
    position: absolute;
    top: 6%;
    left: 8%;

    overflow: auto;
}

#abilityShortcut ul {
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    width: 128%;
    margin-left: 7%;
}

#abilityShortcut ul li {
    float: left;
    margin-top: 1%;
    margin-right: 4%;
}

.questItem {
    font-family: 'AdvoCut', sans-serif;
    width: 100%;
    height: 10%
}

.questName {
    width: 98%;
    text-align: center;
    float: left;
    border: 2px solid #373737;
    margin-top: 3px;
    color: white;
    z-index: 1;
}

#achievementCount, #questCount {
    float: right;
    right: 3%;
    position: absolute;
    color: white;
    font-family: 'AdvoCut', sans-serif;
    text-align: center;
}

#achievementCount {
    top: 1%;
}

#questCount {
    top: 45.5%;
}

#mapFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    pointer-events: auto;
    display: none;

    cursor: default;

    z-index: 100;
}

.mapButton {
    position: absolute;
    background-position-y: 0;
    -ms-background-position-y: 0;
}

#closeMapFrame {
    top: 0;
    left: 95%;
}

.warpButton {
    position: absolute;
}

#shop {
    position: absolute;
    display: none;
    top: 17%;
    left: 50%;

    cursor: default;
}

#shopInventoryContainer {
    position: absolute;
    top: 0;
    right: 100%;
}

#shopContainer {
    position: absolute;
    font-family: 'AdvoCut', sans-serif;
    top: 8%;
    width: 85%;
    height: 80%;
    left: 8%;
}

#shopContainer ul li {
    padding-bottom: 5px;
}

.shopItem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 98%;
    height: 5%;
    border: 3px solid rgba(255, 255, 0, 0.3);
    border-radius: 10px;
}

.shopItemImage {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(0, 0, 255, 0.3);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    border-radius: 100%;
}

.shopItemName, .shopItemCount, .shopItemPrice, .shopItemBuy {
    position: absolute;
    padding-top: 2%;
    font-size: 12px;
    float: left;
}

.shopItemName {
    left: 20%;
}

.shopItemCount {
    left: 55%;
}

.shopItemPrice {
    left: 65%;
}

.shopItemBuy {
    position: relative;
    border: 2px solid rgba(0, 255, 0, 0.3);
    border-radius: 30%;
    left: 75%;
}

.shopItemBuy:hover {
    color: white;
    cursor: pointer;
}

#playerInfo {
    position: absolute;

    top: 10px;
    left: 10px;
}

#healthBarText {
    vertical-align: middle;
    text-align: center;
    font-family: 'AdvoCut', sans-serif;
}

.profileInfo {
    position: absolute;
    width: 92px;
    height: 12px;
    line-height: 12px;
    font-family: 'AdvoCut', sans-serif;
    font-size: 6px;
    font-weight: bold;
    text-shadow: 1px 1px #808080;
    text-align: center;
    left: 24px;
}

.profileItemInfo {
    position: absolute;
    font-family: 'AdvoCut', sans-serif;
    font-size: 10px;
    font-weight: bold;

    pointer-events: none;
}

#armourSlotInfo {
    text-align: right;
}

#shopSellSlotReturnText, #shopSellSlotText {
    color: black;
}

#confirmEnchant, #confirmSell {
    top: 80%;
    left: 70%;
}

@media only screen and (min-width: 1501px) {

    #chatButton {
        position: relative;
        width: 42px;
        height: 45px;
        background: url('../img/3/maintwo.png') no-repeat -588px -942px;
    }

    #chatButton:hover {
        background: url('../img/3/maintwo.png') no-repeat -630px -942px;
    }

    #chatButton.active {
        background: url('../img/3/maintwo.png') no-repeat -672px -942px;
    }

    #inventoryButton {
        position: relative;
        width: 42px;
        height: 45px;
        background: url('../img/3/main.png') no-repeat -588px -942px;
    }

    #inventoryButton:hover {
        background: url('../img/3/main.png') no-repeat -630px -942px;
    }

    #inventoryButton.active {
        background: url('../img/3/main.png') no-repeat -672px -942px;
    }

    #profileButton {
        position: relative;
        width: 42px;
        height: 45px;
        background: url('../img/3/main.png') no-repeat -714px -942px;
    }

    #profileButton:hover {
        background: url('../img/3/main.png') no-repeat -756px -942px;
    }

    #profileButton.active {
        background: url('../img/3/main.png') no-repeat -798px -942px;
    }

    #settingsButton {
        position: relative;
        width: 42px;
        height: 45px;
        background: url('../img/3/main.png') no-repeat -1218px -942px;
    }

    #settingsButton:hover {
        background: url('../img/3/main.png') no-repeat -1260px -942px;
    }

    #settingsButton.active {
        background: url('../img/3/main.png') no-repeat -1302px -942px;
    }

    #warpButton {
        position: relative;
        width: 42px;
        height: 45px;
        background: url('../img/3/main.png') no-repeat -966px -942px;
    }

    #warpButton:hover {
        background: url('../img/3/main.png') no-repeat -1008px -942px;
    }

    #warpButton.active {
        background: url('../img/3/main.png') no-repeat -1050px -942px;
    }

    #abilityShortcut {
        width: 366px;
        height: 60px;
        top: 720px;
        background: url('../img/3/skillslots.png');
    }

    #inventory {
        width: 288px;
        height: 303px;
        border: 3px solid #373737
    }

    .itemSlot {
        width: 48px;
        height: 48px;
        margin-left: 3px;
        margin-top: 3px;
        margin-bottom: 21px;
        border-radius: 9px;
        border: 3px solid #707070;
    }

    .itemSlot:hover {
        border: 3px solid #eeeeee;
    }

    .itemSlot:active {
        border: 3px solid #fcda5c;
    }

    .itemCount, .inventoryItemCount {
        width: 48px;
        height: 21px;
        font-size: 18px;
        text-align: center;
        margin-left: 3px;
        margin-top: -21px;
    }

    #actionContainer {
        width: 192px;
        height: 96px;
    }

    .actionButton {
        width: 192px;
        height: 48px;
        border-radius: 9px;
        border: 3px solid #707070;
    }

    #profileDialog {
        bottom: 40px;
        right: 34px;
    }

    #profileDialog, .page {
        width: 372px;
        height: 651px;
        position: absolute;
    }

    #statePage {
        background: url('../img/3/characterdialogsheet.png') 0 0;
        display: block;
    }

    #skillPage {
        background: url('../img/3/characterdialogsheet.png') -372px 0;
        display: none;
    }

    #settingsPage {
        background: url('../img/3/characterdialogsheet.png') -744px 0;
        display: none;

        right: 0;
        bottom: 45px;
    }

    #questPage {
        background: url('../img/3/characterdialogsheet.png') -1116px 0;
        display: none;
    }

    .profileSlot {
        background-position: 0 0;
        position: absolute;
        width: 48px;
        height: 45px;
    }

    .profileInfo {
        position: absolute;
        width: 276px;
        height: 36px;
        line-height: 36px;
        font-family: 'AdvoCut', sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px #808080;
        text-align: center;
        left: 72px;
    }

    .profileItemInfo {
        font-size: 24px;
    }

    #weaponSlotInfo {
        top: 369px;
        left: 66px;
    }

    #armourSlotInfo {
        width: 306px;
        top: 369px;
        text-align: right;
    }

    #weaponSlot {
        left: 12px;
        top: 354px;
    }

    #armourSlot {
        left: 312px;
        top: 358px;
    }

    #pendantSlot {
        left: 162px;
        top: 230px;
    }

    #ringSlot {
        left: 81px;
        top: 512px;
    }

    #bootsSlot {
        left: 246px;
        top: 516px;
    }

    #profileName {
        top: 24px;
    }

    #profileLevel {
        top: 87px;
    }

    #profileExperience {
        top: 150px;
    }

    #navigator {
        width: 126px;
        height: 51px;
    }

    #previous, #next {
        background-image: url('../img/3/characterdialogsheet.png');
        position: absolute;
        left: initial;
        top: 0;
        width: 63px;
        height: 51px;
    }

    #previous {
        left: 0;
        background-position: 0 -669px;
    }

    #previous.enabled {
        background-position: 0 -720px;
        cursor: pointer;
    }

    #next {
        left: 63px;
        background-position: -63px -720px;
    }

    #next.enabled {
        background-position: -63px -669px;
        cursor: pointer;
    }

    #sliders {
        width: 120px;
        height: 90px;
    }

    #volume {
        top: 3px;
    }

    #sfx {
        top: 54px;
    }

    #brightness {
        top: 108px;
    }

    #checkMarks {
        width: 120px;
        height: 210px;
    }

    #texts {
        width: 240px;
        height: 300px;
        font-size: 24px;
    }

    #texts p {
        margin-bottom: 36px;
    }

    .check {
        position: absolute;
        width: 24px;
        height: 24px;
        background: url('../img/3/characterdialogsheet.png') -330px -723px;
    }

    .check:hover, .check:focus {
        background-position: -357px -723px;
    }

    .check:active {
        background-position: -384px -723px;
    }

    .check.active {
        background-position: -411px -723px;
    }

    .check.active:hover {
        background-position: -438px -723px;
    }

    #soundCheck {
        top: 9px;
    }

    #cameraCheck {
        top: 69px;
    }

    #debugCheck {
        top: 132px;
    }

    #centreCheck {
        top: 186px;
    }

    #nameCheck {
        top: 246px;
    }

    #levelCheck {
        top: 306px;
    }

    #attackInfo {
        width: 300px;
        height: 75px;
        top: 0;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border: 6px solid #373737;
    }

    #attackInfo .details {
        margin-top: 27px;
    }

    #attackInfo .health {
        height: 18px;
        border: 3px solid #373737;
        border-radius: 6px;
        background: red;
        transition: .5s width ease;
        -o-transition: .5s width ease;
        -moz-transition: .5s width ease;
        -webkit-transition: .5s width ease;
    }

    #bank {
        width: 900px;
        height: 501px;
    }

    #bankContainer, #bankInventoryContainer {
        background: url('../img/3/bank.png');
    }

    #enchantContainer {
        background: url('../img/3/containers.png');
    }

    #bankContainer {
        width: 513px;
        height: 501px;
        background-position: -396px 0;
    }

    #bankSlots {
        width: 432px;
        height: 360px;
        left: 429px;
    }

    #bankInventoryContainer, #enchantContainer {
        width: 387px;
        height: 381px;
        background-position: 0 0;
    }

    .inventorySlots {
        width: 288px;
        height: 240px;
    }

    .bankSlot {
        width: 48px;
        height: 45px;
        background: url(../img/3/containers.png) -900px -516px;
    }

    #enchant {
        width: 387px;
        height: 465px;
        background: url('../img/3/containers.png') 0 0;

        margin-left: -193px;
        margin-top: -232px;
    }

    #enchantSelectedItem, #enchantShards {
        width: 48px;
        height: 45px;
    }

    #shardsCount {
        width: 48px;
    }

    .close {
        width: 48px;
        height: 48px;

        background: url('../img/3/containers.png') -96px -498px;
    }

    .close.active {
        background-position: -144px -498px;
    }

    .close:hover {
        background-position: -192px -498px;
    }

    .ok {
        width: 42px;
        height: 42px;
        background: url('../img/3/containers.png') -1143px -183px;
    }

    .ok:hover {
        background-position: -1143px -141px;
    }

    #message {
        width: 360px;
        height: 69px;
    }

    #questList, #achievementList {
        width: 318px;
        height: 246px;
    }

    .skillSlot {
        width: 48px;
        height: 48px;
    }

    .questName {
        border-radius: 12px;
    }

    #achievementCount, #questCount {
        font-size: 24px;
        width: 90px;
        height: 24px;
    }

    #mapFrame {
        width: 810px;
        height: 540px;
        background: url('../img/3/mapframe.png');

        margin-left: -405px;
        margin-top: -270px;
    }

    .mapButton {
        width: 45px;
        height: 48px;
    }

    #warp1 {
        top: 120px;
        left: 360px;
        background: url('../img/3/mapicons.png') 0 0;
    }

    #warp2 {
        top: 165px;
        left: 75px;
        background: url('../img/3/mapicons.png') 51px 0;
    }

    #warp3 {
        top: 210px;
        left: 525px;
        background: url('../img/3/mapicons.png') 96px 0;
    }

    #warp4 {
        top: 360px;
        left: 405px;
        background: url('../img/3/mapicons.png') 141px 0;
    }

    #warp5 {
        top: 360px;
        left: 225px;
        background: url('../img/3/mapicons.png') 186px 0;
    }

    #warp6 {
        top: 240px;
        left: 270px;
        background: url('../img/3/mapicons.png') 231px 0;
    }

    #warp1:hover, #warp2:hover, #warp3:hover, #warp4:hover, #warp5:hover, #warp6:hover {
        background-position-y: -60px;
        -ms-background-position-y: -60px;
    }

    #warp1.active, #warp2.active, #warp3.active, #warp4.active, #warp5.active, #warp6.active {
        background-position-y: -120px;
        -ms-background-position-y: -120px;
    }

    #shop {
        width: 510px;
        height: 504px;
        background: url("../img/3/containers.png") -387px -66px;;
    }

    #shopInventoryContainer {
        width: 387px;
        height: 464px;
        background: url("../img/3/containers.png") 0 0;;
    }

    #shopSellSlot, #shopSellSlotReturn {
        position: absolute;
        width: 48px;
        height: 49px;
        top: 369px;
    }

    #shopSellSlot {
        left: 42px;
    }

    #shopSellSlotReturn {
        left: 132px;
    }

    #shopSellSlotReturnText, #shopSellSlotText {
        margin-top: 57px;
    }

    .shopItemName, .shopItemCount, .shopItemPrice, .shopItemBuy {
        font-size: 16px;
    }

    #health {
        position: absolute;
        top: 4.5px;
        left: 30px;
        width: 230px;
        height: 26px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    #healthBar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 264px;
        height: 39px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: white;

        background-image: url('../img/3/main.png' );
        background-position: 0px -834px;
    }

    #exp {
        position: absolute;
        top: 30px;
        left: 36px;
        width: 228px;
        height: 15px;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

    #expBar {
        position: absolute;
        width: 228px;
        height: 15px;

        background-image: url('../img/3/main.png' );
        background-position: 0px -873px;
        color: rgba(255, 255, 255, 1);

        top: 30px;
        left: 36px;
    }

    #healthBarText {
        margin: 10px 0 0 30px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 1500px), only screen and (max-height: 870px) {

    #chatButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/maintwo.png') no-repeat -392px -628px;
    }

    #chatButton:hover {
        background: url('../img/2/maintwo.png') no-repeat -420px -628px;
    }

    #chatButton.active {
        background: url('../img/2/maintwo.png') no-repeat -448px -628px;
    }

    #inventoryButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -392px -628px;
    }

    #inventoryButton:hover {
        background: url('../img/2/main.png') no-repeat -420px -628px;
    }

    #inventoryButton.active {
        background: url('../img/2/main.png') no-repeat -448px -628px;
    }

    #profileButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -476px -628px;
    }

    #profileButton:hover {
        background: url('../img/2/main.png') no-repeat -504px -628px;
    }

    #profileButton.active {
        background: url('../img/2/main.png') no-repeat -532px -628px;
    }

    #settingsButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -812px -628px;
    }

    #settingsButton:hover {
        background: url('../img/2/main.png') no-repeat -840px -628px;
    }

    #settingsButton.active {
        background: url('../img/2/main.png') no-repeat -868px -628px;
    }

    #warpButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -644px -628px;
    }

    #warpButton:hover {
        background: url('../img/2/main.png') no-repeat -672px -628px;
    }

    #warpButton.active {
        background: url('../img/2/main.png') no-repeat -700px -628px;
    }

    #abilityShortcut {
        width: 244px;
        height: 40px;
        top: 480px;
        background: url('../img/2/skillslots.png') no-repeat;
    }

    #notify, #confirm {
        width: 333px;
        height: 94px;
        background: url('../img/2/containers.png') -601px 0;
    }

    #question, #exclamation {
        position: relative;
        width: 30px;
        height: 32px;
        display: block;
    }

    #question {
        background: url('../img/2/containers.png') -699px -94px;
    }

    #exclamation {
        background: url('../img/2/containers.png') -669px -94px;
    }

    .ok, .done {
        width: 27px;
        height: 14px;
        background: url('../img/2/containers.png') -642px -108px;
    }

    .ok:hover, .done:hover {
        background: url('../img/2/containers.png') -642px -94px;
    }

    #cancel {
        width: 40px;
        height: 14px;
        background: url('../img/2/containers.png') -601px -108px;
    }

    #cancel:hover, #cancel:focus {
        background: url('../img/2/containers.png') -601px -94px;
    }

    #inventory {
        width: 192px;
        height: 202px;
        border: 2px solid #373737
    }

    .itemSlot {
        width: 32px;
        height: 32px;
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 14px;
        border-radius: 3px;
        border: 2px solid #707070;
    }

    .itemSlot:hover, .itemSlot.select {
        border: 2px solid #eeeeee;
    }

    .itemSlot:active {
        border: 2px solid #fcda5c;
    }

    .itemCount, .inventoryItemCount {
        width: 32px;
        height: 14px;
        font-size: 12px;
        text-align: center;
        margin-left: 2px;
        margin-top: -14px;
    }

    #actionContainer {
        width: 128px;
        height: 64px;
    }

    #pActions {
        width: 128px;
        height: 64px;
    }

    .actionButton {
        width: 128px;
        height: 32px;
        border-radius: 6px;
        border: 2px solid #707070;
    }

    #profileDialog {
        bottom: 30px;
        right: 22px;
    }

    #profileDialog, .page {
        width: 248px;
        height: 434px;

        position: absolute;
    }

    #statePage {
        background: url('../img/2/characterdialogsheet.png') 0 0;
        display: block;
    }

    #skillPage {
        background: url('../img/2/characterdialogsheet.png') -248px 0;
        display: none;
    }

    #settingsPage {
        background: url('../img/2/characterdialogsheet.png') -496px 0;
        display: none;

        right: 0;
        bottom: 30px;
    }

    #questPage {
        background: url('../img/2/characterdialogsheet.png') -744px 0;
        display: none;
    }

    .profileSlot {
        background-position: 0 0;
        position: absolute;
        width: 32px;
        height: 30px;
    }

    .profileInfo {
        position: absolute;
        width: 184px;
        height: 24px;
        line-height: 24px;
        font-family: 'AdvoCut', sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 1px 1px #808080;
        text-align: center;
        left: 45px;
    }

    .profileItemInfo {
        font-size: 18px;
    }

    #weaponSlotInfo {
        top: 246px;
        left: 44px;
    }

    #armourSlotInfo {
        width: 204px;
        top: 246px;
        text-align: right;
    }

    #weaponSlot {
        left: 8px;
        top: 238px;
        background-position: 0 -2px;
    }

    #armourSlot {
        left: 208px;
        top: 238px;
    }

    #pendantSlot {
        left: 108px;
        top: 154px;
    }

    #ringSlot {
        left: 54px;
        top: 342px;
    }

    #bootsSlot {
        left: 164px;
        top: 344px;
    }

    #profileName {
        top: 16px;
    }

    #profileLevel {
        top: 58px;
    }

    #profileExperience {
        top: 100px;
    }

    #navigator {
        width: 84px;
        height: 34px;
    }

    #previous, #next {
        background-image: url('../img/2/characterdialogsheet.png');
        position: absolute;
        left: initial;
        top: 0;
        width: 42px;
        height: 34px;
    }

    #previous {
        left: 0;
        background-position: 0 -446px;
    }

    #previous.enabled {
        background-position: 0 -480px;
        cursor: pointer;
    }

    #next {
        left: 42px;
        background-position: -42px -480px;
    }

    #next.enabled {
        background-position: -42px -446px;
        cursor: pointer;
    }

    #sliders {
        width: 80px;
        height: 90px;
    }

    #volume {
        top: 3px;
    }

    #sfx {
        top: 40px;
    }

    #brightness {
        top: 82px;
    }

    #checkMarks {
        width: 80px;
        height: 140px;
    }

    #texts {
        width: 120px;
        height: 200px;
        font-size: 16px;
    }

    #texts p {
        margin-bottom: 24px;
    }

    .check {
        position: absolute;
        width: 16px;
        height: 16px;
        background: url('../img/2/characterdialogsheet.png') -220px -481px;
    }

    .check:hover, .check:focus {
        background-position: -238px -481px;
    }

    .check:active {
        background-position: -256px -481px;
    }

    .check.active {
        background-position: -274px -481px;
    }

    .check.active:hover {
        background-position: -292px -481px;
    }

    #soundCheck {
        top: 6px;
    }

    #cameraCheck {
        top: 46px;
    }

    #debugCheck {
        top: 88px;
    }

    #centreCheck {
        top: 124px;
    }

    #nameCheck {
        top: 164px;
    }

    #levelCheck {
        top: 204px;
    }

    #attackInfo {
        width: 200px;
        height: 50px;
        top: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border: 4px solid #373737;
    }

    #attackInfo .details {
        margin-top: 18px;
    }

    #attackInfo .health {
        height: 12px;
        border: 1px solid #373737;
        border-radius: 4px;
        background: red;
        transition: .5s width ease;
        -o-transition: .5s width ease;
        -moz-transition: .5s width ease;
        -webkit-transition: .5s width ease;
    }

    #bank {
        width: 600px;
        height: 334px;
    }

    #bankContainer, #bankInventoryContainer {
        background: url('../img/2/bank.png');
    }

    #enchantContainer {
        background: url('../img/2/containers.png');
    }

    #bankContainer {
        width: 342px;
        height: 334px;
        background-position: -263px 0;
    }

    #bankSlots {
        width: 288px;
        height: 240px;
        left: 286px;
    }

    #bankInventoryContainer, #enchantContainer {
        width: 258px;
        height: 254px;
        background-position: 0 0;
    }

    .inventorySlots {
        width: 192px;
        height: 160px;
    }

    .bankSlot {
        width: 32px;
        height: 30px;
        background: url(../img/2/containers.png) -600px -344px;
    }

    #enchant {
        width: 258px;
        height: 310px;
        background: url('../img/2/containers.png') 0 0;

        margin-left: -129px;
        margin-top: -155px;
    }

    #trade {
        width: 500px;
        height: 339px;
        background: url(../img/2/trade.png) 0 0;
    }

    #tradePlayerContainer, #tradeOPlayerContainer {
        width: 206px;
        height: 186px;
    }

    #enchantSelectedItem, #enchantShards {
        width: 32px;
        height: 30px;
    }

    #shardsCount {
        width: 32px;
    }

    .close {
        width: 32px;
        height: 32px;

        background: url('../img/2/containers.png') -64px -332px;
    }

    .close.active {
        background-position: -96px -332px;
    }

    .close:hover {
        background-position: -128px -332px;
    }

    .ok {
        width: 28px;
        height: 28px;
        background: url('../img/2/containers.png') -762px -122px;
    }

    .ok:hover {
        background-position: -762px -94px;
    }

    #message {
        width: 240px;
        height: 46px;
    }

    #questList, #achievementList {
        width: 212px;
        height: 164px;
    }

    .skillSlot {
        width: 32px;
        height: 32px;

        background-image: url('../img/2/skillicons.png');
    }

    .questName {
        font-size: 20px;
        border-radius: 8px;
    }

    #achievementCount, #questCount {
        font-size: 16px;
        width: 60px;
        height: 16px;
    }

    #mapFrame {
        width: 540px;
        height: 360px;
        background: url('../img/2/mapframe.png');

        margin-left: -270px;
        margin-top: -180px;
    }

    .mapButton {
        width: 30px;
        height: 32px;
    }

    #warp1 {
        top: 80px;
        left: 240px;
        background: url('../img/2/mapicons.png') 0 0;
    }

    #warp2 {
        top: 110px;
        left: 50px;
        background: url('../img/2/mapicons.png') 34px 0;
    }

    #warp3 {
        top: 140px;
        left: 350px;
        background: url('../img/2/mapicons.png') 64px 0;
    }

    #warp4 {
        top: 240px;
        left: 270px;


        background: url('../img/2/mapicons.png') 94px 0;
    }

    #warp5 {
        top: 240px;
        left: 150px;
        background: url('../img/2/mapicons.png') 124px 0;
    }

    #warp6 {
        top: 160px;
        left: 180px;
        background: url('../img/2/mapicons.png') 154px 0;
    }

    #warp1:hover, #warp2:hover, #warp3:hover, #warp4:hover, #warp5:hover, #warp6:hover {
        background-position-y: -40px;
        -ms-background-position-y: -40px;
    }

    #warp1.active, #warp2.active, #warp3.active, #warp4.active, #warp5.active, #warp6.active {
        background-position-y: -80px;
        -ms-background-position-y: -80px;
    }

    #shop {
        width: 340px;
        height: 336px;
        background: url("../img/2/containers.png") -258px -44px;;
    }

    #shopInventoryContainer {
        width: 258px;
        height: 310px;
        background: url("../img/2/containers.png") 0 0;;
    }

    #shopSellSlot, #shopSellSlotReturn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 246px;
    }

    #shopSellSlot {
        left: 28px;
    }

    #shopSellSlotReturn {
        left: 88px;
    }

    #shopSellSlotReturnText, #shopSellSlotText {
        margin-top: 38px;
    }

    #health {
        position: absolute;
        top: 3px;
        left: 20px;
        width: 154px;
        height: 20px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    #healthBar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 176px;
        height: 26px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: white;

        background-image: url('../img/2/main.png' );
        background-position: 0px -556px;
    }

    #healthBarText {
        margin: 5px 0 0 20px;
    }

    #exp {
        position: absolute;
        top: 20px;
        left: 24px;
        width: 152px;
        height: 9px;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

    #expBar {
        position: absolute;
        width: 152px;
        height: 9px;

        background-image: url('../img/2/main.png' );
        background-position: 0px -582px;
        color: rgba(255, 255, 255, 1);

        top: 20px;
        left: 24px;
    }

}

@media only screen and (max-width: 1000px) {

    #chatButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/maintwo.png') no-repeat -392px -628px;
    }

    #chatButton:hover {
        background: url('../img/2/maintwo.png') no-repeat -420px -628px;
    }

    #chatButton.active {
        background: url('../img/2/maintwo.png') no-repeat -448px -628px;
    }

    #profileButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -476px -628px;
    }

    #profileButton:hover {
        background: url('../img/2/main.png') no-repeat -504px -628px;
    }

    #profileButton.active {
        background: url('../img/2/main.png') no-repeat -532px -628px;
    }

    #settingsButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -812px -628px;
    }

    #settingsButton:hover {
        background: url('../img/2/main.png') no-repeat -840px -628px;
    }

    #settingsButton.active {
        background: url('../img/2/main.png') no-repeat -868px -628px;
    }

    #warpButton {
        position: relative;
        width: 28px;
        height: 30px;
        background: url('../img/2/main.png') no-repeat -644px -628px;
    }

    #warpButton:hover {
        background: url('../img/2/main.png') no-repeat -672px -628px;
    }

    #warpButton.active {
        background: url('../img/2/main.png') no-repeat -700px -628px;
    }

    #abilityShortcut {
        width: 122px;
        height: 20px;
        top: 240px;
        background: url('../img/1/skillslots.png');
    }

    #notify, #confirm {
        width: 166px;
        height: 47px;
        background: url('../img/1/containers.png') -300px 0;
    }

    #question, #exclamation {
        position: relative;
        width: 15px;
        height: 16px;
        display: block;
    }

    #question {
        background: url('../img/1/containers.png') -349px -47px;
    }

    #exclamation {
        background: url('../img/1/containers.png') -334px -47px;
    }

    .ok, .done {
        left: 85%;
        top: 55%;
        width: 14px;
        height: 14px;
        background: url('../img/1/containers.png') -387px -79px;
    }

    .ok:hover, .done:hover {
        background: url('../img/1/containers.png') -387px -65px;
    }

    #cancel {
        left: 75%;
        top: 55%;
        width: 14px;
        height: 14px;
        background: url('../img/1/containers.png') -371px -79px;
    }

    #cancel:hover, #cancel:focus {
        background: url('../img/1/containers.png') -371px -65px;
    }

    #actionContainer {
        width: 64px;
        height: 32px;
    }

    .actionButton {
        width: 128px;
        height: 32px;
        border-radius: 3px;
        border: 1px solid #707070;

        font-size: 20px;
    }

    #profileDialog {
        transform: scale(1.5);
        bottom: 84px;
        right: 104px;
    }

    #profileDialog, .page {
        width: 124px;
        height: 217px;
        position: absolute;
    }

    #statePage {
        background: url('../img/1/characterdialogsheet.png') 0 0;
        display: block;
    }

    #skillPage {
        background: url('../img/1/characterdialogsheet.png') -124px 0;
        display: none;
    }

    #settingsPage {
        transform: scale(1.5);

        background: url('../img/1/characterdialogsheet.png') -248px 0;
        display: none;

        right: 60px;
        bottom: 84px;
    }

    #questPage {
        background: url('../img/1/characterdialogsheet.png') -372px 0;
        display: none;
    }

    .profileSlot {
        background-position: 0 0;
        position: absolute;
        width: 16px;
        height: 15px;
    }

    .profileInfo {
        position: absolute;
        width: 92px;
        height: 12px;
        line-height: 12px;
        font-family: 'AdvoCut', sans-serif;
        font-size: 6px;
        font-weight: bold;
        text-shadow: 1px 1px #808080;
        text-align: center;
        left: 24px;
    }

    .profileItemInfo {
        font-size: 8px;
    }

    #weaponSlotInfo {
        top: 123px;
        left: 22px;
    }

    #armourSlotInfo {
        width: 102px;
        top: 123px;
        text-align: right;
    }

    #weaponSlot {
        left: 4px;
        top: 120px;
    }

    #armourSlot {
        left: 104px;
        top: 119px;
    }

    #pendantSlot {
        left: 54px;
        top: 78px;
    }

    #ringSlot {
        left: 27px;
        top: 172px;
    }

    #bootsSlot {
        left: 82px;
        top: 173px;
    }

    #profileName {
        top: 8px;
    }

    #profileLevel {
        top: 29px;
    }

    #profileExperience {
        top: 50px;
    }

    #navigator {
        width: 42px;
        height: 17px;
    }

    #previous, #next {
        background-image: url('../img/1/characterdialogsheet.png');
        position: absolute;
        left: initial;
        top: 0;
        width: 21px;
        height: 17px;
    }

    #previous {
        left: 0;
        background-position: 0 -223px;
    }

    #previous.enabled {
        background-position: 0 -240px;
        cursor: pointer;
    }

    #next {
        left: 21px;
        background-position: -21px -240px;
    }

    #next.enabled {
        background-position: -21px -223px;
        cursor: pointer;
    }

    #sliders {
        width: 40px;
        height: 30px;
    }

    #volume {
        top: 1px;
    }

    #sfx {
        top: 20px;
    }

    #brightness {
        top: 41px;
    }

    #checkMarks {
        width: 40px;
        height: 120px;
    }

    #texts {
        width: 60px;
        height: 100px;
        font-size: 8px;
        top: 15%
    }

    #texts p {
        margin-bottom: 12px;
    }

    .check {
        position: absolute;
        width: 8px;
        height: 8px;
        background: url('../img/1/characterdialogsheet.png') -110px -241px;
    }

    .check:hover, .check:focus {
        background-position: -119px -241px;
    }

    .check:active {
        background-position: -128px -241px;
    }

    .check.active {
        background-position: -137px -241px;
    }

    .check.active:hover {
        background-position: -146px -241px;
    }

    #soundCheck {
        top: 3px;
    }

    #cameraCheck {
        top: 23px;
    }

    #debugCheck {
        top: 44px;
    }

    #centreCheck {
        top: 62px;
    }

    #nameCheck {
        top: 82px;
    }

    #levelCheck {
        top: 102px;
    }

    #attackInfo {
        width: 100px;
        height: 25px;
        top: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 2px solid #373737;
    }

    #attackInfo .details {
        margin-top: 9px;
    }

    #attackInfo .health {
        height: 6px;
        border: 1px solid #373737;
        border-radius: 2px;
        background: red;
        transition: .5s width ease;
        -o-transition: .5s width ease;
        -moz-transition: .5s width ease;
        -webkit-transition: .5s width ease;
    }

    #bank {
        width: 300px;
        height: 167px;
    }

    #bankContainer, #bankInventoryContainer {
        background: url('../img/1/bank.png');
    }

    #enchantContainer {
        background: url('../img/1/containers.png');
    }

    #bankContainer {
        width: 171px;
        height: 167px;
        background-position: -132px 0;
    }

    #bankSlots {
        width: 144px;
        height: 120px;
        left: 143px;
    }

    #bankInventoryContainer, #enchantContainer {
        width: 129px;
        height: 127px;
        background-position: 0 0;
    }

    .inventorySlots {
        width: 96px;
        height: 80px;
    }

    .bankSlot {
        width: 16px;
        height: 15px;
        background: url(../img/1/containers.png) -300px -172px;
    }

    #enchant {
        transform: scale(1.6);

        width: 129px;
        height: 155px;
        background: url('../img/1/containers.png') 0 0;

        margin-left: -64px;
        margin-top: -77px;
    }

    #enchantSelectedItem, #enchantShards {
        width: 16px;
        height: 15px;
    }

    #shardsCount {
        width: 16px;
    }

    #message {
        width: 120px;
        height: 23px;
    }

    #questList, #achievementList {
        width: 104px;
        height: 82px;
    }

    .skillSlot {
        width: 16px;
        height: 16px;
    }

    .questName {
        border: 1px solid #373737;
        font-size: 10px;
        border-radius: 4px;
    }

    #achievementCount, #questCount {
        font-size: 8px;
        width: 30px;
        height: 8px;
    }

    #mapFrame {
        transform: scale(1.6);

        width: 270px;
        height: 180px;
        background: url('../img/1/mapframe.png');

        margin-left: -135px;
        margin-top: -90px;
    }

    #closeMapFrame {
        top: -6px;
        left: 90%;
    }

    .mapButton {
        width: 15px;
        height: 16px;
    }

    #warp1 {
        top: 40px;
        left: 120px;
        background: url('../img/1/mapicons.png') 0 0;
    }

    #warp2 {
        top: 55px;
        left: 25px;
        background: url('../img/1/mapicons.png') 17px 0;
    }

    #warp3 {
        top: 70px;
        left: 175px;
        background: url('../img/1/mapicons.png') 32px 0;
    }

    #warp4 {
        top: 120px;
        left: 135px;
        background: url('../img/1/mapicons.png') 47px 0;
    }

    #warp5 {
        top: 120px;
        left: 75px;
        background: url('../img/1/mapicons.png') 62px 0;
    }

    #warp6 {
        top: 80px;
        left: 90px;
        background: url('../img/1/mapicons.png') 77px 0;
    }

    #warp1:hover, #warp2:hover, #warp3:hover, #warp4:hover, #warp5:hover, #warp6:hover {
        background-position-y: -20px;
        -ms-background-position-y: -20px;
    }

    #warp1.active, #warp2.active, #warp3.active, #warp4.active, #warp5.active, #warp6.active {
        background-position-y: -40px;
        -ms-background-position-y: -40px;
    }

    #shop {
        top: 30%;
        left: 55%;
        width: 170px;
        height: 168px;
        background: url("../img/1/containers.png") -129px -22px;;
        transform: scale(1.5);
    }

    #shopInventoryContainer {
        width: 129px;
        height: 155px;
        background: url("../img/1/containers.png") 0 0;;
    }

    #shopSellSlot, #shopSellSlotReturn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 123px;
    }

    #shopSellSlot {
        left: 14px;
    }

    #shopSellSlotReturn {
        left: 44px;
    }

    #shopSellSlotReturnText, #shopSellSlotText {
        margin-top: 19px;
    }

    #shopContainer ul li {
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .shopItem {
        width: 97%;
        border: 1.5px solid rgba(255, 255, 0, 0.3);
        border-radius: 7px;
    }

    .shopItemImage {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 255, 0.3);
        background-size: 600%;
    }

    .shopItemName, .shopItemCount, .shopItemPrice {
        font-size: 7px;
    }

    .shopItemBuy {
        position: relative;
        float: left;
        border: 1px solid rgba(0, 255, 0, 0.3);
        padding-top: 2%;
        font-size: 6px;
    }

    #buttons {
        right: 30px;
    }

    #inventory {
        right: 40px;
    }

    .itemCount {
        width: 16px;
        height: 7px;
        font-size: 7px;
        text-align: center;
        margin-left: 1px;
        margin-top: -7px;
    }

}
